extends layout

block content
	div.me
		h1 Try to Jade it!
		input(type="email", placeholder="Your email")
		input(type="submit")
		p
			|the first line
			|i like the Jade
			|no fantasy

	div.you
		p
			h1 <i>Strange example</i>
			
		p
			strong Olololo

	p.lead
	div.row.col-md-6
	.row.col-md-6

	div#item

	input#bar.foo1.foo2

	a.main#header(class='button', href='google.com') Google