<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="me">
      <h1>Try to Jade it!</h1>
      <input type="email" placeholder="Your email">
      <input type="submit">
      <p>
        the first line
        i like the Jade
        no fantasy
      </p>
    </div>
    <div class="you">
      <p>
        <h1><i>Strange example</i></h1>
      </p>
      <p><strong>Olololo</strong></p>
    </div>
    <p class="lead"></p>
    <div class="row col-md-6"></div>
    <div class="row col-md-6"></div>
    <div id="item"></div>
    <input id="bar" class="foo1 foo2"><a id="header" href="google.com" class="main button">Google</a>
  </body>
</html>