doctype html
head
	title Try to use Jade

	link(rel="stylesheet", href="style.css", type="text/css")
body
	div.me
		h1 Try to Jade it!
		input(type="email, placeholder="Your email")
		input(type="submit")